body{
    margin: 0;
    
}
.container-cards{
    display: flex;
    flex-wrap:wrap; 
}

.container-carrito{
    display: flex;
    flex-wrap:wrap; 
}
.card {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}

h1{
    font-size: 55px;
}

h2{
    display: flex;
    justify-content:center ;
}
.card img{
    width:300px;
    height: 400px;
    object-fit: cover ;
}

.container-fluid {
    background-color: rgb(151, 220, 220);
}

main{
    background-color: bisque;
}

.div-footer{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(137, 191, 239);
    margin: 20px;
    padding: 10px;
}

.div-footer{
    font-size: 25px;
}

.nav-item{
    font-size: 30px;
}